Repository aergoio/aergo, pull requests merged in 2023-10, with the labels that each got.

#267 new functions for integration tests
  tests/common.sh
  tests/test-gas-bf.sh
  tests/test-gas-deploy.sh
  tests/test-gas-op.sh
  tests/test-gas-per-function-v2.sh
  tests/test-gas-per-function-v3.sh
  tests/test-gas-verify-proof.sh
  tests/test-max-call-depth.sh
Labels: tests

#265 some new tests
  contract/vm_dummy/test_files/arc1-factory.lua
  contract/vm_dummy/test_files/arc2-factory.lua
  contract/vm_dummy/test_files/deployn.lua
  contract/vm_dummy/test_files/token-deployer.lua
  contract/vm_dummy/vm_dummy_test.go
  tests/run_tests.sh
  tests/test-contract-deploy.sh
Labels: tests

#278 tests: make readLuaCode() a helper function
  contract/vm_dummy/vm_dummy_pub_test.go
  contract/vm_dummy/vm_dummy_test.go
Labels: tests

#259 apply system params on next block
  chain/chainhandle.go
  chain/chainhandle_test.go
  chain/chainservice.go
  consensus/impl/dpos/blockfactory.go
  consensus/impl/dpos/status.go
  consensus/impl/raftv2/blockfactory.go
  consensus/impl/sbp/sbp.go
  contract/name/execute.go
  contract/name/name.go
  contract/name/name_test.go
  contract/system/execute_test.go
  contract/system/param.go
  contract/system/param_test.go
  contract/system/proposal_test.go
  contract/system/staking.go
  contract/system/validation.go
  contract/system/vote.go
  contract/system/vote_test.go
  contract/system/voteresult.go
  contract/vm_dummy/vm_dummy.go
  mempool/mempool.go
Labels: bug fix, pass sync test

#290 integration tests for dpos and raft
  .github/workflows/full_test.yml
  contract/vm_dummy/test_files/gas_per_function.lua
  contract/vm_dummy/vm_dummy_pub_test.go
  tests/bp01.id
  tests/bp01.key
  tests/bp01.pub
  tests/bp02.id
  tests/bp02.key
  tests/bp02.pub
  tests/bp03.id
  tests/bp03.key
  tests/bp03.pub
  tests/common.sh
  tests/config-node1.toml
  tests/config-node2.toml
  tests/config-node3.toml
  tests/config-sbp.toml
  tests/genesis-dpos.json
  tests/genesis-raft.json
  tests/run_tests.sh
  tests/test-brick.sh
  tests/test-gas-per-function-v2.sh
  tests/test-gas-per-function-v3.sh
Labels: tests

#287 Topic/schema
  chain/chaindb.go
  chain/chaindbForRaft.go
  chain/chainservice.go
  chain/recover.go
  chain/reorg.go
  consensus/impl/dpos/lib.go
  contract/contract.go
  contract/enterprise/admin.go
  contract/enterprise/config.go
  contract/enterprise/validate.go
  contract/name/name.go
  contract/system/param.go
  contract/system/proposal.go
  contract/system/staking.go
  contract/system/vote.go
  contract/system/voteresult.go
  contract/system/vprt.go
  contract/vm.go
  contract/vm_callback.go
  types/dbkey/key.go
  types/dbkey/key_test.go
  types/dbkey/schema.go
Labels: tests, check hardfork, pass sync test

#298 update tests
  contract/vm_dummy/test_files/contract_call_1.lua
  contract/vm_dummy/test_files/contract_call_2.lua
  contract/vm_dummy/test_files/contract_call_3.lua
  contract/vm_dummy/vm_dummy_pub_test.go
  contract/vm_dummy/vm_dummy_test.go
  tests/common.sh
  tests/config-sbp.toml
  tests/run_tests.sh
Labels: tests

#272 review and comments on state module
  contract/state_module.c
Labels: check hardfork, pass sync test
