Repository aergoio/aergo, pull requests merged in 2023-11, with the labels that each got.

#297 enhance the parsing of amount
  contract/system/vote.go
  contract/vm_callback.go
  contract/vm_callback_test.go
Labels: check hardfork, pass sync test

#314 update tests
  contract/vm_dummy/test_files/contract_call_self.lua
  contract/vm_dummy/test_files/contract_pingpongcall_1.lua
  contract/vm_dummy/test_files/feature_isolation.lua
  contract/vm_dummy/vm_dummy_test.go
Labels: tests

#274 system.date() and system.time()
  contract/system_module.c
  contract/vm_dummy/test_files/type_datetime.lua
  contract/vm_dummy/vm_dummy_test.go
Labels: check hardfork, pass sync test

#310 refactoring for fee calc logic
  chain/chainhandle.go
  contract/contract.go
  contract/contract_test.go
  contract/vm.go
  contract/vm_direct/vm_direct.go
  contract/vm_dummy/vm_dummy.go
  fee/fee.go
  fee/fee_test.go
  fee/gas.go
  fee/gas_test.go
  fee/payload.go
  fee/payload_test.go
  mempool/mempool.go
  types/transaction.go
Labels: check hardfork, pass sync test

#313 rollback contract state on failed pcall
  contract/contract_module.c
  contract/vm.c
  contract/vm.go
  contract/vm_dummy/vm_dummy_test.go
Labels: V4, bug fix

#323 remove pprof
  cmd/aergosvr/aergosvr.go
  cmd/polaris/polaris.go
  cmd/polaris/polaris_test.go
  config/config.go
  config/types.go
Labels: bug fix
